<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "login.css"> </link>
</head>
<body>
    {{{body}}}

    <div>
        <a href="./registerstudent">Register Student Details</a>
    </div>

    <div>
        <a href="./entermarks">Enter Student Marks</a>
    </div>


    <div>

        <a href="./studentdata">Check Student Data!</a>

    </div>

    <div>

        <a href="./studentsearch">Search Student Data!!!</a>

    </div>


</body>
</html>